.navbar{
    padding: 15px 0 !important;
    position: absolute;
    z-index: 11;
    display: flex;
  };
  .NavSearch{
    display: flex;
    padding: 25px 0 !important;
    z-index: 11;
    position: relative;
    margin-bottom: 8%;
  };
  .active{
    position: fixed;
    z-index:1001;
    width: 100%;
    background: #10141f;
    padding-top: 15px !important;
    animation-name: scrollNav;
    animation-duration: .4s;
  };
  .ActiveSearch{
    width: 100%;
    z-index: 1001;
    position: fixed;
    background: #10141f;
    padding-top:5px !important;
    animation-name: scrollNav;
    animation-duration: .4s;
    margin-top: -1%;
  };
  @keyframes scrollNav{
    0% {
      opacity: 0;
      transform: translateY(-60px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    };
  };