@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  background-color: #10141f !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.divider{
  background: #5b5b5b;
  width: 100%;
  margin-top: 5%;
}
.makeStyles-product-6:hover .makeStyles-iconPlay-8 ,
.makeStyles-product-6:hover .makeStyles-add-9
{
  display: block;
}
.react-multi-carousel-list{
  margin-bottom: 2%;
}
.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 30px;
  background: hsla(0,0%,100%,.5);
  color: white;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  width:100%;
}

.nfLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 37px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.nfLoader:after {
  content: "";
  background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: absolute;
  margin: -6px;
  width: inherit;
  height: inherit;
  animation: nfLoader-spin 1.1s linear infinite, 1 !important;
  -webkit-animation: nfLoader-spin 1.1s linear infinite, 1 !important;
}
@keyframes nfLoader-spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes nfLoader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.react-multiple-carousel__arrow{
  z-index: 9 !important;
}

.navbar{
  padding: 15px 0 !important;
  position: absolute;
  z-index: 11;
  display: flex;
};
.NavSearch{
  display: flex;
  padding: 25px 0 !important;
  z-index: 11;
  position: relative;
  margin-bottom: 8%;
};
.Active{
  position: fixed;
  z-index:1001;
  width: 100%;
  background: #10141f;
  padding-top: 15px !important;
  animation-name: scrollNav;
  animation-duration: .4s;
};
.ActiveSearch{
  width: 100%;
  z-index: 1001;
  position: fixed;
  background: #10141f;
  padding-top:5px !important;
  animation-name: scrollNav;
  animation-duration: .4s;
  margin-top: -1%;
};
@keyframes scrollNav{
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  };
};

.swiper-slide{
  width: 80% 
}
.mui-style-1ua80n0-MuiInputBase-input-MuiOutlinedInput-input{
  color: aliceblue;
};
.mui-style-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-color: rgba(231, 199, 199, 0.23);
};